.overlay {
    background-color: rgba(17, 17, 17, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}